.notch{
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
 max-width: 100%;
}
.image{
flex-basis: 40%;
}
.top{
flex: 1;
margin-right: 0px;
text-align:right;

}

.top ul li{
margin-right: 0px;
margin-left: 0px;
    top: 0px;
    list-style: none;
    display: inline-block;
    padding: 30px;
    position: relative;
    }
.top ul li a{
color: rgb(0, 0, 0);
text-decoration: none;
font-size: 16px;
font-family: 'Poppins', sans-serif;
}

.top ul li::after{
content: "";
width: 0%;
height: 2px;
background:#f77e7e;
display: block;
margin: auto;
transition: 0.3s;
}
.top ul li:hover::after{
width: 100%;
}
.box{
    flex: 0;
margin-left: 0px;
margin-right: 80px;
text-align:right;
font-family: 'Poppins', sans-serif;
display: inline-block;
    
    border: 0px solid #f77e7e;
    padding: 12px 4px;
    font: size 18px;
    background: transparent;
    position:relative;
    cursor: pointer;

}
.box a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.box:hover{
    border: 0px solid #f77e7e;
    background: #f77e7e;
    transition: 0.5s;
}
.header{
    height: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(back.gif);
    text-align: center;
    color: #fff;
    
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.text{height: 100%;
    padding-top: 60px;
}
